@use '../../styles/partials/variables' as *;

.site-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding: 0 2rem;
}

.site-nav {
  display: flex;
  flex-flow: row nowrap;

  &__list {
    list-style-type: none;
  }

  &__item {
    display: flex;
  }

  &__link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: $space-xxs;
    text-decoration: none;
    color: $color-status-info;
    font-variant: small-caps;
    font-weight: $font-weight-bold;
    &:visited {
      color: $color-status-info;
    }
  }
}
