@use 'sass:color';
@use './variables' as *;
@use './mixins' as *;

body {
  background: $color-background;
  color: $color-text;
}

.gradient-button {
  @include gradient-border(
    3px,
    4px,
    linear-gradient(
      45deg,
      $color-accent-primary,
      $color-accent-secondary,
      color.adjust($color-status-info, $lightness: 25%)
    ),
    $color-background
  );
  padding: 0.75rem 1.75rem;
  font-size: $font-size-md;
  width: 13.5rem;
}

select {
  background: #fff;
  border: 2px solid $color-text;
  border-radius: 4px;
  font-size: $font-size-lg;
}
