@use 'sass:color';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.container {
  display: flex;
  width: 85%;
  min-height: 35rem;
  max-width: 45rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  box-sizing: border-box;
  @include frosted-glass;
  @include gradient-border(
    3px,
    4px,
    linear-gradient(
      45deg,
      $color-accent-primary,
      $color-accent-secondary,
      color.adjust($color-status-info, $lightness: 20%),
      color.adjust($color-accent-tertiary, $lightness: -10%)
    ),
    $color-background
  );

  &--narrow {
    max-width: 800px;
    padding: 1rem;
  }

  &--wide {
    max-width: 1400px;
    padding: 4rem;
  }
}
